
/* Universal Styles */

body {
  font-family: 'Overpass', sans-serif;
  font-size: 1em;
   background: #EDF2F6;
}

hr {
  border: 1px solid #DCE4EA;
}

/* Container Styles */

.outer-body-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.inner-body-wrapper {
  grid-column: 2 / span 7;
}

/* Sidebar Styles */

.sidebar {
  grid-column: 1;
  background: #3D4656;
  color: #DCE4EA;
  font-weight: bold;
}

.sidebar a {
  color: #DCE4EA;
}

.sidebar a:hover {
  color: #fff;
  border-right: 5px solid #3c9ee5;
  padding-left: 20px;
}

.profile {
  border-bottom: 3px inset black;
  padding: 10px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: block;
  margin: 20px auto 0 auto;
}

.profile h4 {
  text-align: center;
  margin-top: 10px;
}

.side-main-nav, .admin {
  border-bottom: 3px inset black;
  padding: 10px;
  height: 250px;
}

.categories {
  padding: 10px;
  height: 800px;
}

.categories a {
  font-size: 0.8em;
}

.side-main-nav h5, .admin h5, .categories h5 {
  margin-left: 5px;
}

.side-main-nav nav, .admin nav, .categories nav {
  display: grid;
  grid-template-columns: 25% 75%;
}

.side-main-nav nav i, .admin nav i, .categories nav i {
  margin-left: 5px;
}

.side-main-nav nav i + a, .admin nav i + a, .categories nav i + a {
  margin-bottom: 20px;
}

.side-main-nav a, .admin a {
  text-decoration: none;
  font-size: 0.9em;
}

/* Header Styles */

.title-group h1 {
  grid-column: 1;
  margin: 50px 0 -30px 0;
  color: #3D4656;
}

.top-header {
  border: 2px solid #DCE4EA;
  grid-column: 2 / span 8;
  height: 270px;
  background: #fff;
}

.search-bar {
  border-bottom: 2px solid #DCE4EA;
  display: flex;
  flex-direction: row;
  color: #7D8BA4;
}

.hamburger-wrapper, .fa-user-plus, .fa-calendar-plus, .fa-th {
  width: 80px;
  height: 80px;
  font-size: 1.5em;
  text-align: center;
}

.hamburger-wrapper:hover, .fa-user-plus:hover, .fa-calendar-plus:hover, .fa-th:hover {
  color: #fff;
  background: #3c9ee5;
  border: none;
}

.hamburger-wrapper, .fa-user-plus, .fa-calendar-plus {
  border-right: 2px solid #DCE4EA;
}

.fa-user-plus {
  border-left: 2px solid #DCE4EA;
}

.hamburger-wrapper .fa-caret-left {
  color: #6FC494;
}

.search-bar i {
  line-height: 80px;
}

.search {
  width: 75%;
  height: 80px;
}

.search i {
  font-size: 1.5em;
  margin: 0 10px 0 30px;
}

#search-bar {
  width: 80%;
  font-size: 1.2em;
  border: none;
}

.title-group {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.location-marker-wrapper {
  grid-column: 1;
}

.location-marker-wrapper p {
  display: inline;
  margin-right: 10px;
  color: #7D8BA4;
}

.location-marker-wrapper a {
  text-decoration: none;
  color: #3c9ee5;
}

.location-marker-wrapper a:hover {
  color: #6FC494;
}

.location-marker-wrapper .fa-map-marker-alt {
 margin-right: 10px;
 color: #7D8BA4;
}

.location-marker-wrapper .fa-circle {
  font-size: 5px;
  margin-right: 10px;
}

.header-buttons-wrapper {
  grid-column: 3; 
  grid-row: 1;
}

.header-buttons-flex {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.header-buttons-flex button {
  font-size: 1em;
  padding: 12px;
  margin-left: 20px;
  color: #7D8BA4;
  border: 2px solid #DCE4EA;
}

.open-btn {
  border-radius: 20px;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
}

.open-btn i {
  color: #6FC494;
  margin-right: 5px;
}

.bookmark-btn, .header-edit-btn, .trash-btn {
  border-radius: 30px;
}

.open-btn:hover, .bookmark-btn:hover, .header-edit-btn:hover, .trash-btn:hover {
  background: #3c9ee5;
  color: #fff;
  border: 2px solid #3c9ee5;
}

.main-nav {
  width: 90%;
  margin: 0 auto;
}

.main-nav a {
  margin-right: 40px;
  text-decoration: none;
  color: #7D8BA4;
  font-weight: bold;
}

.main-nav a:hover {
  border-bottom: 5px solid #3c9ee5;
  padding-bottom: 15px;
  color: black;
}

main {
  grid-column: 2 / span 8;
  width: 90%;
  margin: 0 auto;
  background: #EDF2F6;
}

/* Stats Section Styles */ 

.divider-line {
  display: flex;
  flex-direction: row;
}

.divider-line hr {
  width: 47%;
}

.divider-line i {
  font-size: 1.5em;
}

.stats-section {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 40px;
}

.pie-chart-section {
  width: 60%;
  height: 300px;
}

.stats-flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 31%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 180px;
}

.circle-bg {
  fill: none;
  stroke: #DCE4EA;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.applicants-num, .interviews-num, .forwards-num {
  fill: #666;
  font-family: 'Overpass', sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.applicants, .interviews, .forwards {
  fill: #666;
  font-family: 'Overpass', sans-serif;
  font-size: 0.2em;
  text-anchor: middle;
}

.totals-btn {
  width: 250px;
  display: block;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto 0 auto;
  padding: 5px;
  border: 2px solid #DCE4EA;
  color: #3D4656;
}

.totals-btn .fa-circle {
  font-size: 5px;
}

.bar-graph-section {
  width: 40%;
  height: 300px;
}

.applicants-btn {
  width: 200px;
  display: block;
  text-align: center;
  border-radius: 20px;
  margin: 10px auto 0 auto;
  padding: 5px;
  border: 2px solid #DCE4EA;
  color: #3D4656;
}

.totals-btn:hover, .applicants-btn:hover {
  color: #fff;
  background: #3c9ee5;
  border: 2px solid ##3c9ee5;
}

.fa-chevron-circle-up {
  color: #7D8BA4;
}

.job-main-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
/* Job Description Section Styles */ 

.job-description-section {
  grid-column: 1 / span 3;
  width: 95%;
  background: #fff;
}

.job-description-header {
  width: 100%;
  height: 65px;
  background: #3D4656;
  display: flex; 
  flex-direction: row;
}

.job-description-header h3 {
  margin-left: 20px;
  color: #fff;
}

.job-description-header button {
  height: 25px;
  margin: auto auto auto 20px;
  font-size: 0.8em;
  background: #7D8BA4;
  color: #fff;
  border: none;
}

.job-description-header button > i {
  margin-right: 5px;
}


.job-details {
  margin-right: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.job-details h4 {
  grid-column: 1;
  color: #3D4656;
}

.job-details p {
  grid-column: 2 / span 3;
  margin: auto 0;
  color: #3D4656;
}

.job-details hr {
  grid-column: 1 / span 4;
  width: 100%;
}

/* Social Media Section Styles */ 

.social-media {
  grid-column: 4;
}

.facebook-btn, .twitter-btn, .linkedin-btn {
  width: 100%;
  padding: 10px;
}

.facebook-btn {
  background: #5272BD;
}

.twitter-btn {
 background: #47A8E8;
}

.linkedin-btn {
  background: #357FB7;
}

.social-media button  {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  border-radius: 3px;
  color: #fff;
}

.social-media button > i {
  margin-left: 10px;
  margin-right: 50px;
}

.social-media hr {
  width: 100%;
  margin-bottom: 20px;
}

.social-media h3 > i {
  margin-right: 5px;
  color: #3D4656;
}

.social-media h3 {
  color: #3D4656;;
}

.social-media p {
  text-align: justify;
  color: #3D4656;
}

.social-media form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.social-media input[type=text] {
  font-size: 0.8em;
  height: 20px;
  width: 80%;
  padding: 5px;
}

.copy-btn {
  width: 20%;
  height: 34px;
  color: #fff;
  background: #3c9ee5;
  border-radius: 3px;
  font-size: 0.8em;
}

.copy-btn:hover {
  background: #4CC790;
}

#email-resume {
  width: 100%;
}

/* Media Queries */ 

















